.buttons {
	margin-bottom: 20px;
}
.button--start {
	margin-left: 12px;
}
.rows {
	display: flex;
}
.row + .row {
	margin-left: 20px;
}
.row--argument div {
	border: 1px solid #000;
}
.row--argument div + div {
	border-top: none;
}
.row--sin div {
	border: 1px solid #000;
}
.row--sin div + div {
	border-top: none;
}
